@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0; 
}

body {
  font-family: 'Lato', sans-serif;
}

.main {
  background: linear-gradient( rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0.5)), url('giphy.gif');
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.header .container {
  width: 80%;
  margin: auto;
}

.nav, 
.main-nav {
  display: inline-block;
  text-decoration: none;
  display: flex;
  flex-direction: row; 
} 

.header {
  height: 60px;
  background: #333;
}

ul {
  text-decoration: none;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  display: inline-block;
}

.logo {
  font-size: 20px;
  margin-right: auto;
}

.main-nav a {
  font-size: 10px;
  font-weight: 100;
  padding: 10px 16px;
  text-decoration: none;

}

.logo a,
.main-nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
}

.main-nav a {
  opacity: 0.7;
  letter-spacing: 5px;
  align-self: center;
  text-decoration: none;
}

.main-nav a:hover {
  opacity: 1;
}

.text {
  position: relative;
  top: 200px;
  margin: auto;
  text-align: center
}

.text h2 {
  text-transform: uppercase;
  font-size: 45px; 
  letter-spacing: 10px;
  color: #fff;
  font-weight: 100; 
}

.text h3 {
  text-transform: uppercase;
  font-size: 30px; 
  letter-spacing: 10px;
  color: #fff;
  font-weight: 100;
}


#about_bg{
  background: linear-gradient( rgba(64, 64, 64, 0.9), rgba(64, 64, 64, 0.9)), url('bg.gif');
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.about_text h1 {
  text-transform: uppercase;
  font-size: 45px; 
  letter-spacing: 10px;
  color: #fff;
  font-weight: 300;

}

.about_text{
  position: absolute;
  top: 200px;
  text-align: center
}

.about_text h1 {
  text-transform: uppercase;
  font-size: 45px; 
  letter-spacing: 10px;
  color: #fff;
  font-weight: 100; 
  margin: 3px 287px;
  width: 100%;
}

#about_text p {
  font-size: 20px;
  width: 600px;
  position: absolute;
  z-index: 1;
  margin-top:-391px;
  margin-left: 452px;
  color:#fff;
  font-weight: 200;
}
